/* Algemene pagina stijlen */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #F0F8FF; /* Lichtblauwe achtergrond */
    color: #333;
}

header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background: #E0F7FA;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input[type="text"], input[type="password"] {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

button {
    width: 210px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
