<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wedstrijden Overzicht - Olympische Spelen 2024</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>Wedstrijden Overzicht</header>
    <ul>
        <li th:each="wedstrijd : ${wedstrijden}">
            <a th:href="@{'/wedstrijden/' + ${wedstrijd.id}}" th:text="${wedstrijd.sport.naam + ' - ' + wedstrijd.datumTijd}">Wedstrijd</a>
        </li>
    </ul>
</body>
</html>
